{
  "AutoJoinChannels": [ "#channel", "#channel2" ],
  "ConnectionUri": "irc://irc.synirc.net:6667",
  "Nick": "TrumpBot",
  "RealName": "Donald J. Trump",
  "Username": "trump",
  "JoinProtectedChannels": [ "#channel2" ],
  "Admins": [ "admin", "anotheradmin" ],
  "AutoRestart": false,
  "RavenDsn": null
}